h1 Formulario
form(action="/productos" method="post")
    div(class="row g-3")
        div(class="col")
            input(type="text" class="form-control" placeholder="Título" name="title")
        div(class="col")
            input(type="text" class="form-control" placeholder="Precio" name="price")
        div(class="col")
            input(type="text" class="form-control" placeholder="Url de la imagen" name="url")
        div(class="col")
            button(type="submit" class="btn btn-outline-dark") Guardar