<form onsubmit= "return AddMessage(this)">
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" id="mail" placeholder="Tu e-mail" name="mail">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="mensaje" placeholder="Mensaje" name="mensaje">
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-dark">Enviar</button>
        </div>
    </div>
</form>

